#* SCB2537: Feeds for queries are currently not supported.
#if ($scarabR.Query.QueryId)
<link rel="alternate" type="application/rss+xml" title="RSS" href="$link.setPage('Index.vm')/action/Search/go/$scarabR.Query.QueryId/eventSubmit_doSelectquery/foo/output/feed/feedType/rss_2.0">
<link rel="alternate" type="application/rss+xml" title="ATOM" href="$link.setPage('Index.vm')/action/Search/go/$scarabR.Query.QueryId/eventSubmit_doSelectquery/foo/output/feed/feedType/atom_0.3">
#end
*#

#set ($mitlist = $user.CurrentMITList)
#set ($searchType = $data.Parameters.getString('searchType', ''))

<div class="app" id="issuelist">
#set ($user = $data.User)
## $queryResults, $totalCount are supplied in context by Search.java

## The functions used to control the current query.
#macro (queryFunctionBar $id)
<div class="functnbar$id">
<table>
<tr>
#if ($searchType == 'advanced' && $scarabR.hasPermission($scarabG.Permission.USER__EDIT_PREFERENCES))
<td>
<input type="submit" value="$l10n.SaveQuery" name="eventSubmit_doRedirecttosavequery" />&#160;
<input type="submit" value="$l10n.RefineQuery" name="eventSubmit_doRefinequery" />&#160;
</td>
#end
<td width="100%">
#exportFormats('')
#if (!$mitlist || $mitlist.isSingleModuleIssueType())
  #processQueryResults('' $queryResults.size())
#end
</td>

#* SCB2537: Feeds for queries are currently not supported.
#if ($scarabR.Query.QueryId)
<td align="right" nowrap="1">
	<a style="align:right;" title="$l10n.SearchRSSFeed"
	 href="$link.setPage('Index.vm')/action/Search/go	/$scarabR.Query.QueryId/eventSubmit_doSelectquery/foo/output/feed/feedType/rss_2.0"><img align="middle" src="$staticLink.setPath('/images/icon_rss.gif')" border="0"/></a>
	<a style="align:right;" title="$l10n.SearchATOMFeed"
	 href="$link.setPage('Index.vm')/action/Search/go	/$scarabR.Query.QueryId/eventSubmit_doSelectquery/foo/output/feed/feedType/atom_0.3"><img align="middle" src="$staticLink.setPath('/images/icon_atom.gif')" border="0" /></a>
</td>
#end
*#

</tr></table>
</div>
#end

#if ($issueListSize == 0)
  ## There are no matching issues
<h3>$page.Title</h3>
  <p><em>$l10n.NoMatchingIssues</em></p>
#else
## START OF ISSUES LIST
<form action="$link.setPage('IssueList.vm').setAction('Search')" method="post">
#if ($searchType)
  <input type="hidden" name="searchType" value="$searchType" />
#end
<input type="hidden" name="pageNum" value="$pageNum" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="IssueList.vm" />

#queryFunctionBar("")

<h3>
$page.Title
<small>$l10n.format("IssueListCount", $totalCount)</small></h3>

<div class="colbar">
$format.getNow($scarabR.DateFormat)
</div>

<div class="colbar">
<small>
#if ($scarabR.ValidIssueListAttributes.isEmpty())
  #set ($noAttrs = true)
  <p><em>$l10n.NoCommonAttributesInList</em></p>
#else
  #set ($noAttrs = false)
  $link.setPage('ConfigureIssueList.vm').setLabel($l10n.AddRemoreAttributesFromView).setPathInfo('searchType', $searchType)
#end
</small>
</div>
		
#set ($sortColumn = $data.Parameters.getString('sortColumn'))
#set ($sortInternal=$data.Parameters.getString('sortInternal'))
#set ($sortPolarity = $data.Parameters.getString('sortPolarity'))

#if ($sortColumn)
  <input type="hidden" name="sortColumn" value="$sortColumn" />
#end
#if ($sortInternal)
  <input type="hidden" name="sortInternal" value="$sortInternal" />
#end
#if ($sortPolarity)
  <input type="hidden" name="sortPolarity" value="$sortPolarity" />
#end

## PAGINATION NAVIGATION LINKS
#if ($paginated)
  #paginateIssueList($resultsPerPage $pageNum $sortColumn $sortPolarity $searchType)
#end

#macro (prepIssueListPageLink)
 #set ($dummy = $link.setPage('IssueList.vm').setPathInfo('resultsPerPage', $resultsPerPage).setPathInfo('pageNum', $pageNum))
#end

## START RESULTS TABLE!
#set ($qrIterator = $scarabR.getIssueListIterator($queryResults, $pageNum, $resultsPerPage))

<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr> <!-- HEADER -->
  <th width="70">$l10n.Select</th>
  <th>
     ## Issue ID column
     #prepIssueListPageLink()
     #if ((!$sortColumn || $sortColumn == 'null') && !$sortInternal)
        ## No sorting column is active, use issue ID
        #if ($sortPolarity.equals('desc'))
           #set ($sortLink = $link.setPathInfo('sortPolarity', 'asc').addPathInfo('sortColumn', 'null').addPathInfo('searchType', $searchType).addPathInfo("resultsPerPage","$resultsPerPage"))
           <a href="$sortLink"><img src="$staticLink.setPath('/images/icon_downarrow_on.gif')" width="13" height="8" alt="$l10n.SortDescending" title="$l10n.SortDescending" border="0" />$l10n.IssueId</a>
        #else
           #set ($sortLink = $link.setPathInfo("sortPolarity", "desc").addPathInfo("sortColumn", 'null').addPathInfo("searchType","$searchType").addPathInfo("resultsPerPage","$resultsPerPage"))
           <a href="$sortLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="$l10n.SortAscending" title="$l10n.SortAscending" border="0" />$l10n.IssueId</a>
        #end
     #else
        ## Issue ID column is not the one we are sorting on
        #set ($sortLink = $link.setPathInfo("sortColumn", 'null').setPathInfo("sortPolarity", $sortPolarity).addPathInfo("searchType","$searchType").addPathInfo("resultsPerPage","$resultsPerPage"))
        <a href="$sortLink">$l10n.IssueId</a>
     #end
  </th>
  <!-- Attributes selected to be displayed -->
  #set ($rmoduleUserAttributes = $scarabR.RModuleUserAttributes)
  #if (!$rmoduleUserAttributes || $rmoduleUserAttributes.size() == 0)
    <th>&nbsp;</th>
  #end
  #foreach ($pref in $rmoduleUserAttributes)	
    $scarabR.setAttributeType($velocityCount, $pref.Attribute.AttributeType.Name)
    #set ($value = "----")
    #if ($pref.isInternal())
      #set ($value = $pref.getName($l10n))
      #set ($sort = "sortInternal")
      #set ($sortData = $pref.Name)
    #else
      #set ($sort = "sortColumn")
      #set ($sortData = $pref.AttributeId)
      #set ($value = $scarabR.getRModuleAttributeDisplayName($pref.attribute))
    #end
    <th>
      #prepIssueListPageLink()
      #if ($sortColumn.equals($pref.AttributeId.toString()) || $sortInternal.equals($pref.Name))
        ## This column is the one we are currently sorting on
        #if ($sortPolarity.equals("desc"))
          #set ($sortLink = $link.setPathInfo("sortPolarity", "asc").setPathInfo($sort, "$sortData").addPathInfo("searchType","$searchType").addPathInfo("resultsPerPage","$resultsPerPage").toString())
          <a href="$sortLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="$l10n.SortDescending" title="$l10n.SortDescending" border="0" /></a>
          <a href="$sortLink">$value</a>
        #else
          #set ($sortLink = $link.setPathInfo("sortPolarity", "desc").setPathInfo($sort, "$sortData").addPathInfo("searchType","$searchType").addPathInfo("resultsPerPage","$resultsPerPage").toString())
          <a href="$sortLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="$l10n.SortAscending" title="$l10n.SortAscending" border="0" /></a>
          <a href="$sortLink">$value</a>
        #end
      #else
        #set ($sortLink = $link.setPathInfo($sort, "$sortData").setPathInfo("sortPolarity", "$sortPolarity").addPathInfo("searchType","$searchType").addPathInfo("resultsPerPage","$resultsPerPage"))
        <a href="$sortLink">$value</a>
      #end  	
    </th>	
  #end ##foreach ($pref in $scarabR.RModuleUserAttributes)
  </tr> <!-- END of HEADER -->
  <tr> <!-- DATA -->
  #foreach ($record in $qrIterator)
    $qrIterator.initializeLink($link)
    #indexedRows($velocityCount)
  <td>
   <input type="hidden" name="all_issue_ids" value="$record.UniqueId" />
   <input type="checkbox" name="issue_ids" value="$record.UniqueId" />
  </td>
  <td><a href="$link">$record.UniqueId</a></td>
  #if (!$record.AttributeValuesAsCSV)
    <td>$scarabR.getIssue($record.UniqueId).DefaultText</td>
  #end
  #foreach ($value in $record.AttributeValuesAsCSV)
    <td>
    #if ($value.length() == 0)
      -------
    #else
      $value 
    #end
    </td>
  #end
  #end <!- END DATA --> ## foreach ($record in $qrIterator)
  </tr>
</table>
## END of RESULTS TABLE!

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
       <th>$l10n.MaxPerPage</th>
 <td>
     #resultsPerPageRadioSelect($resultsPerPage true)
     <input type="submit" name="eventSubmit_doRefreshresultsperpage" 
         value="$l10n.Refresh" />
     <input type="hidden" name="oldResultsPerPage" value="$resultsPerPage" />
 </td>
   </tr>
  </table>
</div>
#if ($paginated)
  #paginateIssueList($resultsPerPage $pageNum $sortColumn $sortPolarity $searchType)
#end

#end

#queryFunctionBar("2")

#if ($mitlist)
<h3>$l10n.QueryScope</h3>
 #set ($list = $user.CurrentMITList)
 #if ($list.isModifiable())
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th>$l10n.ModuleName</th>
   <th>$l10n.IssueType</th>
  </tr>
  #foreach ($item in $list.ExpandedMITListItems)
   #indexedRows($velocityCount)
   <td>$item.Module.Name </td><td>$item.Module.getRModuleIssueType($item.IssueType).DisplayName</td>  
  #end
</table>
#else
  <div class="colbar"><small>$list.Name</small></div>
 #end
</div>
#end
                              
</form>
</div>
