#set ($module = $scarabR.CurrentModule)

##first look for a lifecycleid in the request
#set ($lifecycleId = $data.Parameters.getString("lifecycleid"))

##if there is one, use this to get and set the lifecycle in the request tool
#if ($lifecycleId || $lifecycleId.length() > 0)
    #set ($editLifecycle = $scarabWorkflow.getWorkflowLifecycle($lifecycleId)) 
##look to see if there is a lifecycle in the request
#else
    #set ($editLifecycle= $scarabR.WorkflowLifecycle)
#end

#set ($lifecycleId = $editLifecycle.LifecycleId)

#if (!$lifecycleId || $lifecycleId.length() == 0)
   #set ($createNew = "true")
#end

#macro (stateOptionSelect $tranG $attr $issueT $mod $fieldName)
    <select name="$tranG.get("$fieldName").Key">
        <option value="">$l10n.Choose</option>
    #if ($fieldName.equals("FromOptionId"))
        <option value="0">Initial Entry</option>
    #end
    #foreach ($option in $mod.getLeafRModuleOptions($attr,$issueT))
        <option value="$option.OptionId"#selected($selected)>$option.DisplayValue</option>
    #end
    </select>
#end

<div class="app" id="lifecycle">
#if ($createNew.equals("true"))
  #set ($lifecycleTitle = "$l10n.CreateNewLifecycle")
#else
  #set ($lifecycleTitle = "$l10n.EditLifecycle")
  #set ($lifecycleTransitions = $scarabWorkflow.getWorkflowTransitions($editLifecycle))
#end

<form action="$link.setPage("workflow,ModifyLifecycle.vm")" method="post">
<input type="hidden" name="action" value="workflow.WorkflowLifecycles" /> 
<input type="hidden" name=$scarabG.Constant.CANCEL_TEMPLATE value="workflow,ManageLifecycles.vm" /> 
<input type="hidden" name=$scarabG.Constant.OTHER_TEMPLATE value="workflow,ManageLifecycles.vm" /> 
#if ($editLifecycle == "null")
<p class="alert">
$l10n.LifecyleNotFound
</p>
#else

#set ($lifecycleGroup = $intake.WorkflowLifecycle.Default)

#if ($createNew.equals("true"))
    <input type="hidden" name="$lifecycleGroup.ModuleId.Key" value="$module.ModuleId" /> 
    <input type="hidden" name="$lifecycleGroup.Active.Key" value="0" /> 
#else
	<input type="hidden" name="lifecycleid" value="$lifecycleId" /> 
    <input type="hidden" name="$lifecycleGroup.LifecycleId.Key" value="$lifecycleId" /> 
    <input type="hidden" name="$lifecycleGroup.ModuleId.Key" value="$module.ModuleId" /> 
    #set ($lifecycleGroup = $intake.WorkflowLifecycle.mapTo($editLifecycle))
#end

#if ($lifecycleId && "$lifecycleGroup.StateAttributeId" != "")
<div class="functnbar">
	<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
	<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>
#end

<h3>$lifecycleTitle</h3>
<div class="axial">
 <table cellpadding="3" cellspacing="2" border="1">
  <tr>
   <th>* $l10n.LifecycleName</th>
   <td>
    <input name="$lifecycleGroup.DisplayValue.Key" value="$lifecycleGroup.DisplayValue" type="text" size="25" />
    #fieldErrorMsg($lifecycleGroup.DisplayValue "")
   </td>
  </tr>
  <tr>
   <th>* $l10n.IssueType</th>
   <td>
   ##if an attribute is chosen, cannot change issue type
   #if(!$editLifecycle.StateAttributeId || $editLifecycle.StateAttributeId.length() == 0)
      <select name="$lifecycleGroup.IssueTypeId.Key">
        <option value = "">$l10n.Choose</option>  
            #foreach ($issueType in $module.getRModuleIssueTypes())
            <option value = "$issueType.IssueTypeId" 
                #if($issueType.IssueTypeId.toString().equals("$lifecycleGroup.IssueTypeId")) selected="selected"
                    #set($currentIssueType = $issueType.IssueType)
                #end>$issueType.DisplayName</option>
            #end
      </select>
    #fieldErrorMsg($lifecycleGroup.IssueTypeId "")
   #else
      $editLifecycle.IssueType.Name
      <input type="hidden" name="$lifecycleGroup.IssueTypeId.Key" value="$editLifecycle.IssueTypeId">
      #set($currentIssueType = $editLifecycle.IssueType)
   #end
   </td>
  </tr>
#if (!$createNew.equals("true"))
  <tr>
   <th>* $l10n.StateAttribute</th>
   <td>
    #if ($lifecycleTransitions.size() <= 0)
    <select name="$lifecycleGroup.StateAttributeId.Key">
        <option value = "">$l10n.Choose</option>
        #set($attributes = $scarabWorkflow.getAttributes($module,"$lifecycleGroup.IssueTypeId"))
        #foreach ($attribute in $attributes)
        <option value = "$attribute.AttributeId"
            #if($attribute.AttributeId.toString().equals("$lifecycleGroup.StateAttributeId")) selected="selected"
                #set ($stateAttribute = $attribute.Attribute)
            #end>$attribute.Attribute.Name</option>
        #end
    </select>
    #fieldErrorMsg($lifecycleGroup.AttributeId "")
   #else
      $editLifecycle.Attribute.Name
      <input type="hidden" name="$lifecycleGroup.StateAttributeId.Key" value="$editLifecycle.StateAttributeId">
      #set ($stateAttribute = $editLifecycle.Attribute)
   #end
   </td>
  </tr>
  <tr>
   <th>* $l10n.Active</th>
   <td>#booleanCheckbox ($lifecycleGroup.Active)</td>
  </tr>
#end
 </table>
</div>

<div class="functnbar3">
   <input type="submit" name="eventSubmit_doSavelifecycle" value="$l10n.Save" />&#160;
#if (!($lifecycleId && "$lifecycleGroup.StateAttributeId" != ""))
   <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
#end
</div>
#if ($lifecycleId && "$lifecycleGroup.StateAttributeId" != "")
<div id="transitions" class="app">
<h3>$l10n.WorkflowTransitions</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th width="70">$l10n.Select</th>
   <th>$l10n.WorkflowTransition</th>
   <th>$l10n.FromState</th>
   <th>$l10n.ToState</th>
   <th>$l10n.Roles</th>
  </tr>
 #foreach ($transition in $lifecycleTransitions)
    #set ($roles =  $transition.getWorkflowTransitionRoles())
    #set ($roleDisplay = "")
    #set ($first = "true")
    #foreach ($role in $roles)
      #if ($first == "true")
        #set ($first = "false")
        #set ($roleDisplay = "$role.RoleName")
      #else
        #set ($roleDisplay = "$roleDisplay, $role.RoleName")
      #end
    #end
  #indexedRows($velocityCount)
   <td><input type="checkbox" name="delete_trans_$transition.TransitionId" value="$transition.TransitionId" /></td>
   <td>$link.setPage("workflow,ModifyTransition.vm").addPathInfo("transitionid", $transition.TransitionId).addPathInfo("lifecycleid", $lifecycleId).setLabel("$transition.DisplayValue")</td>
   <td>#if ($transition.FromOptionId.toString() == "0") Initial Entry #else $transition.AttributeOptionRelatedByFromOptionId.Name #end</td>
   <td>$link.setPage("workflow,ManageStateValidations.vm").addPathInfo("stateid", $transition.ToOptionId).addPathInfo("lifecycleid", $lifecycleId).setLabel("$transition.AttributeOptionRelatedByToOptionId.Name")
   <td>$roleDisplay</td>
  </tr>
 #end 
  #set ($initTrans = $scarabWorkflow.getWorkflowTransition())
  #set ($transGroup = $intake.WorkflowTransition.mapTo($initTrans))
   <tr>
    <td>$l10n.New<input type="hidden" name="$transGroup.LifecycleId.Key" value="$lifecycleId" /></td>
    <td>#textField($transGroup.DisplayValue 25)
    #fieldErrorMsg($transGroup.DisplayValue) 
    </td>
    <td>#stateOptionSelect ($transGroup $stateAttribute $currentIssueType $module "FromOptionId")
    #fieldErrorMsg($transGroup.FromOptionId) 
    </td>
    <td>#stateOptionSelect ($transGroup $stateAttribute $currentIssueType $module "ToOptionId")
    #fieldErrorMsg($transGroup.ToOptionId) 
    </td>
    <td></td>
   </tr>
 </table>
</div>
    <div class="functnbar3">
       <input type="submit" name="eventSubmit_doAddtransition" value="$l10n.AddNew" />&#160;
       <input type="submit" name="eventSubmit_doDeletetransitions" value="$l10n.DeleteSelected" /> 
    </div>
#end

#if ($lifecycleId && "$lifecycleGroup.StateAttributeId" != "")
<div class="functnbar">
	<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
	<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>
#end

#end

$intake.declareGroups()
</form>
