#set ($module = $scarabR.CurrentModule)

#set ($stateValidationId = $data.Parameters.getString("statevalidationid"))

##if there is one, use this to get and it in the request tool
#if ($stateValidationId || $stateValidationId.length() > 0)
    #set ($editValidation = $scarabWorkflow.getWorkflowStateValidation("$stateValidationId"))
##look to see if there is a one in the request tool
#else
    #set ($editValidation = $scarabR.WorkflowStateValidation)
#end

#set ($stateValidationId = $editValidation.StateValidationId)

#if (!$stateValidationId || $stateValidationId.length() == 0)
	#set ($lifecycleId = $data.Parameters.getString("lifecycleid"))
	#set ($tooptionId = $data.Parameters.getString("tooptionid"))
    #set ($createNew = "true")
#else
	#set ($lifecycleId = $editValidation.LifecycleId)
	#set ($tooptionId = $editValidation.OptionId)
    #set ($createNew = "false")
    #set ($parameterMap = $editValidation.getWorkflowValidationParametersMap())
#end

##create the correct intake group
#set ($wsvGroup = $intake.WorkflowStateValidation.Default)

#if($createNew.equals("true"))
    #set ($validationId = $data.Parameters.getString("validationid"))
#else
    #set ($validationId = $editValidation.ValidationId)
    #set ($wsvGroup = $intake.WorkflowStateValidation.mapTo($editValidation))
#end

#set ($validationClass = $scarabWorkflow.getValidationClass("$validationId"))
#set ($workflowValidation = $scarabWorkflow.getWorkflowValidation("$validationId"))

#if ($createNew.equals("true"))
  #set ($validationTitle = "$l10n.CreateNew '$validationClass.DisplayValue'")
#else
  #set ($validationTitle = "$l10n.Edit '$validationClass.DisplayValue'")
#end

#macro( displayUsage $vClass $wfValidation)
<div class="toolgroup">
    <div class="label">
        <b>$vClass.DisplayValue $l10n.Usage</b>
    </div>
    <div class="body">
		$l10n.get($wfValidation.Usage)
    </div>
</div>
#end


</div>
<div class="app" id="validation">
<form action="$link.setPage("workflow,ModifyValidation.vm")" method="post">
    <input type="hidden" name="action" value="workflow.WorkflowStateValidations" />
    <input type="hidden" name=$scarabG.Constant.CANCEL_TEMPLATE value="workflow,ManageStateValidations.vm" />
    <input type="hidden" name="$wsvGroup.StateValidationId.Key" value="$!stateValidationId" />
    <input type="hidden" name="$wsvGroup.ValidationId.Key" value="$!validationId" />
    <input type="hidden" name="$wsvGroup.LifecycleId.Key" value="$!lifecycleId" />
    <input type="hidden" name="$wsvGroup.OptionId.Key" value="$!tooptionId" />
    <input type="hidden" name="validationid" value="$!validationId" />
    <input type="hidden" name="lifecycleid" value="$!lifecycleId" />
    <input type="hidden" name="stateid" value="$!tooptionId" />

    #displayUsage($validationClass $workflowValidation)

    <h3>$validationTitle</h3>
    <div class="axial">
    <table >
        <tr>
            <th>$l10n.ValidationName</th>
            <td><input type=text name="$wsvGroup.DisplayValue.Key" value="$!wsvGroup.DisplayValue" size="25" /></td>
        </tr>
    #foreach($parameter in $workflowValidation.ParameterList)
    
	    #set ($paramValue = $parameterMap.get($parameter.Name))
        #if($parameter.Type.equals("textarea"))
            <tr>
            	<th>$l10n.get($parameter.Description)</th>
          		<td><textarea name="vp_$parameter.Name" cols="$parameter.Width" rows="$parameter.Height" >$!paramValue</textarea></td>	
          	</tr>
        #elseif($parameter.Type.equals("text"))
            <tr>
                <th>$l10n.get($parameter.Description)</th>
                <td><input type=text name="vp_$parameter.Name" size="$parameter.Width" maxlength="$parameter.Width" value="$!paramValue" /></td>
            </tr>
        #elseif($parameter.Type.equals("select"))
            <tr>
                <th>$l10n.get($parameter.Description)</th>
                <td>
                    <select name="vp_$parameter.Name">
                    #foreach($opt in $parameter.Options)
                        <option>$opt</option #if ($paramValue.equals("$parameter.Name")) selected #end>
                    #end
                    </select>
                </td>
            </tr>
        #else ##assume this is a text type
            <tr>
                <th>$l10n.get($parameter.Description)</th>
                <td><input type=text name="vp_$parameter.Name" size="$parameter.Width" maxlength="$parameter.Width" value="$!paramValue" /></td>
            </tr>
        #end
    #end
    </table>
    </div>

    <div class="functnbar3">
	#if ($createNew.equals("true"))
        <input type="submit" name="eventSubmit_doSavevalidation" value="$l10n.Add" />&#160;
    #else
        <input type="hidden" name="stateValidationId" value="$!stateValidationId" />
        <input type="submit" name="eventSubmit_doSavevalidation" value="$l10n.Save" />&#160;
    #end
        <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
    </div>
</form>