## - alreadyExplored contains every issue that has been explored for blocking 
##   children to avoid redundant information.
## - alreadyListed contains the issues displayed *in the current branch* of 
##   the tree to avoid looping.
##

#set ($alreadyExplored = [])
#set ($counter = 0)

################################################################################
####   macros
################################################################################

## ===========================================
## macro listBlockingIssues
## ===========================================
#macro (listBlockingIssues $blockingIssues $alreadyListed)
#set ($nop = $alreadyExplored.add($bi.UniqueId))
<ul class="blockingtree">
  #foreach ($bi in $blockingIssues)
  #set ($notlisted= !$alreadyListed.contains($bi.UniqueId))
    #if (!$alreadyListed.contains($bi.UniqueId))
      #set ($nop = $alreadyListed.add($bi.UniqueId))
      #if ($bi.Module != $module)
        #set ($blockText = "$bi.UniqueId: $bi.defaultText ($bi.IssueType.Name/$bi.Module.Name)")
      #else
        #set ($blockText = "$bi.UniqueId: $bi.defaultText ($bi.IssueType.Name)")
      #end
	  #if ($bi.UniqueId == $currentIssue.UniqueId)
        <li>$blockText</li>
      #else
        <li>$link.setPage("ViewIssue.vm").addPathInfo("id", $bi.UniqueId).setLabel($blockText)</li>
        #if ($bi.isBlocked() && !$alreadyExplored.contains($bi.UniqueId))
          #listBlockingIssues($bi $bi.BlockingIssues $alreadyListed)
        #end
      #end
      #set ($nop = $alreadyListed.remove($bi.UniqueId))
    #end
  #end
</ul>
#end

## ===========================================
## macro verboseDependency
## ===========================================
#macro (verboseDependency $name $blockingStatus)
  #if ($name == "blocking" && $blockingStatus == "IsBlocked")
    $l10n.DependsOn
  #elseif ($name == "blocking" && $blockingStatus == "Blocks")
    $l10n.PrerequisiteFor
  #elseif ($name == "duplicate")
    $l10n.DuplicateIssue
  #elseif ($name == "non-blocking")
    $l10n.NonBlocking
  #end
#end


## ===========================================
## macro doIndent
## ===========================================
#macro (doIndent $level)
  #set ($sublevel = $level - 1)
  #if ($level > 0)
   &nbsp;&nbsp;&nbsp;#doIndent ( $sublevel )
  #end
#end

## macro addBackground
## ===========================================
#macro (addBackground $blockingStatus $status)
  #if ($status.equals(""))
    
  #else
    #if($status.equals($blockingStatus)) style="background:#FE9292"
    #else style="background:#C0FE92"
    #end
  #end
#end

## ===========================================
## macro relationTable
## ===========================================
#macro (relationTable $thisIssue $indentLevel $entries $blockers $blockingStatus)
      #set ($allBlockersDisplayed = true)
      #foreach ($depend in $entries)

         #set ($status="")      
         #if ($depend.TypeId == 1 && $indentLevel==0)
           #set ($isDependant=false)
           ##depend:$depend.UniqueId 
           #foreach ($bi in $blockers)
             ##bi:$bi.UniqueId
             #if ($bi.UniqueId.equals($depend.UniqueId))
               #set ($notlisted= !$alreadyListed.contains($bi.UniqueId))                
               #if ($notlisted)
                 #set ($status="$blockingStatus")
                 #set ($nop = $alreadyListed.add($bi.UniqueId))
                 #set ($allBlockersDisplayed = false)
                 #set ($isDependant=true)
               #end
             #end
           #end
           #if ($isDependant==false && !$blockingStatus.equals(""))
             #set ($status= "Not$blockingStatus")
           #end
         #end
      
        <tr>
          #set ($dependGroup = $intake.Depend.mapTo($depend))

          #if ($indentLevel == 0)
            #set ($counter = $counter + 1)
          #end
          #indexedRows($counter)
          
          ## ------------------
          ## Selection checkbox
          ## ------------------
          #if ($canEdit)
            <td #addBackground("$blockingStatus" "$status") >
              #if ( !$blockingStatus.equals("ddd_IsBlocked") && $indentLevel == 0 && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $thisIssue.Module) )
               #booleanCheckbox($dependGroup.Selected)
              #else
                &nbsp;
              #end
            </td>
          #end

          ## ---------------
          ## Dependency type
          ## ---------------          
          <td nowrap="nowrap" #addBackground("$blockingStatus" "$status")>
              ##$thisIssue.getDependency($depend).TypeId): 
              #foreach ($dependType in $thisIssue.AllDependencyTypes)
                #if ($dependType.DependTypeId == $thisIssue.getDependency($depend).TypeId)
                  #verboseDependency($dependType.Name $blockingStatus)
                #end
              #end
          </td>
          
          ## -------------------------------------
          ## The dependency status
          ## -------------------------------------
          <td nowrap="nowrap" #addBackground("$blockingStatus" "$status")>
            #if (!$status.equals(""))$l10n.get($status)#end
          </td>

          ## -------------------------------------
          ## related Issues IssueId plus Hyperlink
          ## -------------------------------------
          <td nowrap="nowrap" #addBackground("$blockingStatus" "$status")>
            #if ($scarabR.hasPermission($scarabG.Permission.ISSUE__VIEW, $depend.Module))
              #doIndent ($indentLevel)
              $link.setPage("ViewIssue.vm").addPathInfo("id", $depend.UniqueId).setLabel("$depend.UniqueId")
            #else
              $l10n.PrivateIssue
            #end
          </td>

          ## ----------------------------------
          ## The short text of the parent issue
          ## ----------------------------------
          <td width="100%" #addBackground("$blockingStatus" "$status")>
            #if ($scarabR.hasPermission($scarabG.Permission.ISSUE__VIEW, $depend.Module))
              $depend.defaultText
            #else
              $l10n.PrivateIssue
            #end
          </td>
          
        </tr>
        
        ## --------------------------------------------------------
        ## Dependency tree of all issues that block this issue
        ## --------------------------------------------------------
        #if ($blockingStatus.equals("IsBlocked") && !$allBlockersDisplayed)
          #set ( $prerequisites = $depend.getPrerequisiteIssues())
          #if (!$prerequisites.isEmpty())
            #set ( $blockers = $depend.getBlockingIssues())
            #set ( $nextLevel = $indentLevel + 1 )
            #relationTable ($depend $nextLevel $prerequisites $blockers "IsBlocked" )
          #end
        #end
      #end
      <tr><td colspan="5" style="height:3px;"></td></tr>
#end

#if (1 > 1)
################################################################################
####   active blocking information
################################################################################

<h3 onClick=smartToggleVisibility('blocking')><img name="blocking.state" src="$staticLink.setPath($iconCollapse)"/>$l10n.BlockingInformation</h3>
<div id='blocking'>
  <div class="colbar">$l10n.BlockingExplanation</div>
  <div class="axial">
    <table cellpadding="3"
           cellspacing="2" 
           border="0" 
           width="100%">

      <tr>
        <th>$l10n.BlockedStatus</th>
        <td colspan="2">
          #if ($currentIssue.isBlocked())
            <div class="blockedmark"><em>$l10n.IssueCurrentlyBlocked</em></div>
          #else
            #if ($currentIssue.isBlockingAnyIssue())
              <div class="blockingmark"><em>$l10n.IssueDoesBlockOtherIssues</em></div>
            #else
              <div class="notblockedmark"><em>$l10n.IssueNotBlocked</em></div>
            #end
          #end<br/>
        </td>
      </tr>

      ##-------------------------------------------------------
      ##   Issues which block this Issue
      ##-------------------------------------------------------

      #if ($currentIssue.isBlocked())
        <tr>
          <th>$l10n.IssueBlockingTree</th>
          <td>
            $currentIssue.UniqueId: $currentIssue.DefaultText
            #set ($listedIssues = [])
            #listBlockingIssues($currentIssue $currentIssue.BlockingIssues $listedIssues)
          </td>
        </tr>
      #end

      ##------------------------------------------------------
      ##   Issues which are blocked by this Issue
      ##------------------------------------------------------

      <tr>
        <th>$l10n.IssuesBlockedByThisOne</th>
        <td nowrap>
          #if ($currentIssue.isBlockingAnyIssue())
            #foreach ($bi in $currentIssue.BlockedIssues)
              #if ($bi.Module != $module)
                #set ($blockText = "$bi.UniqueId: $bi.defaultText ($bi.IssueType.Name / $bi.Module.Name)")
              #else
                #set ($blockText = "$bi.UniqueId: $bi.defaultText ($bi.IssueType.Name)")
              #end
              $link.setPage("ViewIssue.vm").addPathInfo("id", $bi.UniqueId).setLabel($blockText)<br/>
            #end
          #else
           <em>$l10n.IssueDoesNotBlockOtherIssues</em>
          #end
        </td>
      </tr>
    </table>
  </div>
</div>
#end

################################################################################
####   dependencies
################################################################################

<h3 onClick=smartToggleVisibility('dependencies')><img name="dependencies.state" src="$staticLink.setPath($iconCollapse)"/>$l10n.format("RelationsNavi", $numDependencies)</h3>
<div id='dependencies'>
  #if ($numDependencies > 0)

    #set ($issueChildren = $currentIssue.Children)
    #set ($issueParents = $currentIssue.Parents)

    #set ($issueCanBlockList     = $currentIssue.getDependantIssues())
    #set ($issueBlockableByList  = $currentIssue.getPrerequisiteIssues())
    #set ($blockedIssues         = $currentIssue.getBlockedIssues())
    #set ($blockingIssues        = $currentIssue.getBlockingIssues())
    #set ($issueRelatedList      = $currentIssue.getRelatedIssues())
    #set ($issueDuplicatesList   = $currentIssue.getDuplicateIssues())

    #set ($isEmpty = $issueBlockableByList.isEmpty() && $issueCanBlockList.isEmpty() && $issueRelatedList.isEmpty() && $issueDuplicatesList.isEmpty() )

    <table width="100%" 
           cellspacing="2" 
           cellpadding="3"
           sstyle="margin-left:2px; margin-right:2px;" >

      <tr>
        #if ($canEdit)
          <th nowrap="nowrap">$l10n.Select</th>
        #end
        <th nowrap="nowrap" >$l10n.DependencyType</th>
        <th nowrap="nowrap" >$l10n.BlockedStatus</th>
        <th nowrap="nowrap" >$l10n.IssueId</th>     
        <th nowrap="nowrap" >$l10n.Summary</th>
      </tr>


      #####################################################
      ## List of issues blockable By this issue
      #####################################################

      #if ($issueBlockableByList.isEmpty() && !$canEdit)
        ##<tr><td colspan="5">$l10n.NoDependencies (blockables)</td></tr>
      #elseif(!$issueBlockableByList.isEmpty())
        #relationTable ( $currentIssue 0 $issueBlockableByList $blockingIssues "IsBlocked" )
      #end
  
      #####################################################
      ## List of issues from which this issue can be blocked 
      #####################################################

      #if ($issueCanBlockList.isEmpty() && !$canEdit)
        ##<tr><td colspan="5">$l10n.NoDependencies (blockers)</td></tr>
      #elseif(!$issueCanBlockList.isEmpty())
        #relationTable ( $currentIssue 0 $issueCanBlockList $blockedIssues "Blocks" )
      #end

      #####################################################
      ## List of related issues  
      #####################################################

      #if ($issueRelatedList.isEmpty() && !$canEdit)
        ##<tr><td colspan="5">$l10n.NoDependencies (related)</td></tr>
      #elseif(!$issueRelatedList.isEmpty())
        #relationTable ( $currentIssue 0 $issueRelatedList 0 "")
      #end

      #####################################################
      ## List of duplicate issues  
      #####################################################

      #if ($issueDuplicatesList.isEmpty() && !$canEdit)
        ##<tr><td colspan="5">$l10n.NoDependencies (duplicates)</td></tr>
      #elseif(!$issueDuplicatesList.isEmpty())
        #relationTable ( $currentIssue 0 $issueDuplicatesList 0 "")
      #end
    </table>

    #if ($canEdit)
      <div class="functnbar4">
        <input type="submit" value="$l10n.ModifyRelations"  name="eventSubmit_doSavedependencychanges" />
        #set ($newDependGroup = $intake.Depend.setKey("modifyDep$currentIssue.QueryKey"))
        ## dependency type

        <select name="modifyDepTo" class="select">
          <option selected="selected" value="" >$l10n.ChooseRelation</option>
          <option                     value="remove" >$l10n.RemoveRelation</option>
          #foreach ($dependType in $currentIssue.AllDependencyTypes)
            <option value="$dependType.DependTypeId">#verboseDependency($dependType.Name "IsBlocked")</option>
            #if ($dependType.Name.equals("blocking"))
              <option value="-$dependType.DependTypeId">#verboseDependency($dependType.Name "Blocks")</option>
            #end
          #end
        </select>
      </div>
    #end
  ##else
  ##  <div class="functnbar3"></div>
  #end



  ################################################################################
  ####   "Add Dependency" form
  ################################################################################

  #if ($canEdit)
   <h4>$l10n.AddRelationTitle</h4>
   <div class="axial">
    <table border="0" cellspacing="2" cellpadding="3">
      <tr>
        <th>$l10n.NewRelation</th>
        <td colspan=2>
          ## current issue
          $currentIssue.UniqueId

          #set ($newDependGroup = $intake.Depend.setKey("newDep$currentIssue.QueryKey"))
          ## issue to be entered
          <input type="hidden" name="$newDependGroup.ObservedId.Key" value="$currentIssue.IssueId" />
          ## dependency type
          <select name="$newDependGroup.TypeId.Key" class="select">
            <option value="">$l10n.ChooseRelation</option>
            #foreach ($dependType in $currentIssue.AllDependencyTypes)
              #set ($selected = false)
              #if ($dependType.DependTypeId.toString().equals($newDependGroup.TypeId.toString()))
                #set ($selected = true)
              #end
              <option#selected($selected) value="-$dependType.DependTypeId">#verboseDependency($dependType.Name "IsBlocked")</option>
              #if ($dependType.Name.equals("blocking"))
                <option value="$dependType.DependTypeId">#verboseDependency($dependType.Name "Blocks")</option>
              #end
            #end
          </select>

          $l10n.RelatedIssue 

          <input type="text"  name="$newDependGroup.ObserverUniqueId.Key" value = "$!newDependGroup.ObserverUniqueId"  title="$l10n.PleaseEnterIssueID"/>
    
          ## Error messages
          #set ($idMessage = $newDependGroup.ObserverUniqueId.Message.toString())
          #if ($idMessage.length() > 0)
            <p class="warningmark"><em>$idMessage</em></p>
          #end
          #set ($typeMessage = $newDependGroup.TypeId.Message.toString())
          #if ($typeMessage.length() > 0)
            <p class="warningmark"><em>$typeMessage</em></p>
          #end
         </td>
      </tr>
      <tr>
        <th>$l10n.Reason</th>
        <td colspan="3">
          #textAreaMedium("$newDependGroup.Description.Key" "$newDependGroup.Description")
          #fieldErrorMsg($newDependGroup.Description "")
        </td>
      </tr>
    </table>
   </div>
  #end

  ################################################################################
  ####   Footer
  ################################################################################

  #if ($canEdit)
    <div class="functnbar3">
      <input type="submit" value="$l10n.AddRelationButton"  name="eventSubmit_doSavenewdependencies" />&nbsp;
    </div>
  #end

</div>

<div id="go.tooltip" class="scarab-tooltip">
    This issue ($currentIssue.UniqueId) is currently NOT blocked by the issue mentioned right to this icon.
</div>

<div id="stop.tooltip" class="scarab-tooltip">
    This issue ($currentIssue.UniqueId) is currently blocked by the the issue mentioned right to this icon.
</div>

<div id="blocking.tooltip" class="scarab-tooltip">
    This issue ($currentIssue.UniqueId) is currently blocking the other issue mentioned in the next column.
</div>
<div id="nonblocking.tooltip" class="scarab-tooltip">
    This issue ($currentIssue.UniqueId) is currently NOT blocking the other issue mentioned in the next column.
</div>
