#macro (l10nRowCol $rowCol)
#if ($rowCol == "Row")
 $l10n.Row
#else
 $l10n.Column
#end
#end

<h3>$l10n.DatesOrDatesRanges</h3>
		
<table border="1" cellspacing="2" cellpadding="3" width="100%">
<tr>
<th>&nbsp;</th>
<th>#l10nRowCol($rowCol)</th>
<th>$l10n.DateTime</th>
</tr>

#set ($finalCount = 1)
#if ($headingIndex >= 0)
 #set ($reportDateRanges = $reportDefn.getAxis($axisIndex).getHeading($headingIndex).ReportDateRanges)
 #foreach ($reportDateRange in $reportDateRanges)
  #indexedRows($velocityCount)
    <td><input type="checkbox" name="selectdaterange" value="$velocityCount"/></td>
    <td nowrap="nowrap">#l10nRowCol($rowCol) $velocityCount</td>
#* showing dates as unmodifiable since there is not a button to handle it
    <td>#dateEntry("y_$velocityCount" 2004 $calendar.get($scarabG.CALENDAR_YEAR_FIELD) "m_$velocityCount" $selectedMonth "d_$velocityCount" $calendar.get($scarabG.CALENDAR_DAY_FIELD) "h_$velocityCount" $calendar.get($scarabG.CALENDAR_HOUR_FIELD))</td>
*#
    <td>
    	#if($reportDateRange.getMinDateString())
    		$l10n.From $reportDateRange.getMinDateString()
	    #end
    	#if($reportDateRange.getMaxDateString())
    		$l10n.To $reportDateRange.getMaxDateString()
      	#end
	</td>
  </tr>
  #set ($finalCount = $velocityCount + 1)
 #end
#end
<table border="1" cellspacing="2" cellpadding="3" width="100%">
#indexedRows($finalCount)
 <td>
  	$l10n.RangeFrom:&#160;<input type="text" id="stateChangeFromDate"
			name="stateChangeFromDate" value="" size="20"
			/>&#160;<a id="stateChangeFromDate" name="stateChangeFromDate" href="javascript:;"
			onClick="calPopup.select(document.getElementById('stateChangeFromDate'),'stateChangeFromDate','$l10n.ShortDatePattern');return false;"><img src="$staticLink.setPath('/images/date.gif')" border="0"/></a>        
        $l10n.RangeTo:&#160;<input type="text" id="stateChangeToDate"
			name="stateChangeToDate" value="" size="20"
			/>&#160;<a id="stateChangeToDate" name="stateChangeToDate" href="javascript:;"
			onClick="calPopup.select(document.getElementById('stateChangeToDate'),'stateChangeToDate','$l10n.ShortDatePattern');return false;"><img src="$staticLink.setPath('/images/date.gif')" border="0"/></a>        
        <p><small>$l10n.format("DateEg", $l10n.ShortDateTimeDisplay)</small></p>
  	</td>
</table>	

<div class="functnbar3">
  <input type="submit" value="$l10n.Add"
      name="eventSubmit_doAdddaterange" />&#160;
  ## <input type="submit" value="Add date/time range" />&nbsp;
  <input type="submit" value="$l10n.DeleteSelected"
      name="eventSubmit_doDeletedaterange" />
</div>

#reportFunctionBar("functnbar2" $report)

</div>
