#set ($allowA = $link.isAllowed("admin,Approval.vm"))
#set ($allowXML = $link.isAllowed("admin,XMLExportIssues.vm"))
#set ($allowMAT = $link.isAllowed("admin,ManageArtifactTypes.vm"))
#set ($allowMM = $link.isAllowed("admin,ManageModules.vm"))

#if ($allowMAT)
 <div>$link.setPage("admin,ManageArtifactTypes.vm").setLabel("$l10n.NavManageIssueTypes")</div>
#end
#if ($allowXML)
 ## SCB3101 commented as found not working properly ## <div>$link.setPage("admin,XMLImportIssues.vm").setLabel("$l10n.XMLImportIssues")</div>
 <div>$link.setPage("admin,XMLExportIssues.vm").setLabel("$l10n.XMLExportIssues")</div>
 <div>$link.setPage("admin,XMLExportSettings.vm").setLabel("$l10n.XMLExportSettings")</div>
#end
#if ($allowMM)
 <div>$link.setPage("SelectModule.vm").setLabel("$l10n.ChangeModule")</div>
#end
#if ($allowA)
	<div>$link.setPage("admin,Approval.vm").setLabel("$l10n.Approve")</div>
#end