#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id$

*#

<font face="verdana,geneva,helvetica">
The permission name <b>$name</b> is currently is use. Permission
names must be unique, please choose another name.
</font>

