<div class="app" id="setinfomessage">
<h3>$l10n.SetInfoMessage</h3>
<div class="colbar">
	$l10n.SetInfoMessagePrompt
</div>

<table>
<form action="$link.setPage("admin,SetInfoMessage.vm")" method="post">
	<tr>
		<td><input type="hidden" name="action" value="admin.SetInfoMessage" /><input type="text" name="msg" value="" size="80" /></td>
	</tr>
	<tr>
		<td><input type="submit" name="foo" value="$l10n.Done" /></td>
	</tr>

</form>
</table>
