#set ($module = $scarabR.CurrentModule)

#if ($module)

<div class="scarab-toolgroup">
  <div class="label">
  <strong><a href="$link.setPage($data.User.HomePage)">$l10n.IssueTrackingHome</a></strong>
  </div>
  <div class="body">
    $navigation.setTemplate("CommonLinks.vm")
 </div>
</div>

## AMINISTRATION
  $navigation.setTemplate("Administration.vm")

#end
