#set ($allActivitySets = $scarabG.reverse($currentIssue.getActivitySets()))
#if (!$fullHistory.equals("true"))
  #set ($allActivitySets = $scarabG.subset($allActivitySets, 0, $currentIssue.HistoryLimit))
#end

#if (!$allActivitySets.isEmpty())
<h3 onClick=smartToggleVisibility('history')><img name="history.state" src="$staticLink.setPath($iconCollapse)"/>$l10n.ChangeHistory</h3>
<div id="history">

  #foreach ($activitySet in $allActivitySets)
    #set ($activities = $activitySet.getActivitiesExceptActivitySetDescription($currentIssue))
    #if (!$activities.isEmpty())
      <div class="historyEntryHeader">
        #set ($user = $scarabR.getUser($activitySet.CreatedBy))
        #userTimeStamp( $user $activitySet.CreatedDate)
      </div>
      #foreach ($act in $activities)
        #set($desc = $act.getDescription($l10n))
        $!scarabG.textToHTML($desc, $link, $scarabR.CurrentModule)
      #end
      #set ($reason = $activitySet.getActivityReason())
      $!scarabG.textToHTML($reason, $link, $scarabR.CurrentModule)
    #end
  #end

#if ($currentIssue.isHistoryLong())
   <div class="functnbar3">
  #if ($fullHistory.equals("true"))
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "false").addPathInfo("tab", "5"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.HideCompleteHistory</a></p>
  #else
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "true").addPathInfo("tab", "5"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.ShowCompleteHistory</a></p>
  #end
  </div>
#end
</div>
#end
