#set ($allActivities = $scarabG.reverse($currentIssue.getActivity(true)))
#if (!$fullHistory.equals("true"))
  #set ($allActivities = $scarabG.subset($allActivities, 0, $currentIssue.HistoryLimit))
#end

#if (!$allActivities.isEmpty())
<h3 onClick=smartToggleVisibility('history')><img name="history.state" src="$staticLink.setPath($iconCollapse)"/>$l10n.ChangeHistory</h3>
<div id="history">

  <table cellpadding="3" cellspacing="2" border="0">
  <tr>
    <th>$l10n.DateStamp</th>
    <th>$l10n.Action</th>
    <th>$l10n.Reason</th>
    <th>$l10n.By</th>
  </tr>
  #foreach ($act in $allActivities)
    #indexedRows($velocityCount)
     <td>
     #set ($activitySet = $act.ActivitySet)
     #if ($activitySet)
       $format.getDate($scarabR.DateFormat, $activitySet.CreatedDate)
     #end
     </td>
     <td>$act.getDescription($l10n)</td>

     #set ($reason = $activitySet.getActivityReason($l10n))
     <td>$!scarabG.textToHTML($reason, $link, $scarabR.CurrentModule)
     </td>
     <td nowrap="nowrap">
     #set ($user = $scarabR.getUser($activitySet.CreatedBy))
     <a href="mailto:$user.Email">$!user.Name</a>
     </td>
    </tr>
  #end
 </table>

#if ($currentIssue.isHistoryLong())
   <div class="functnbar3">
  #if ($fullHistory.equals("true"))
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "false").addPathInfo("tab", "5"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.HideCompleteHistory</a></p>
  #else
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "true").addPathInfo("tab", "5"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.ShowCompleteHistory</a></p>
  #end
  </div>
#end
</div>
#end
