/*
   This file contains custom classes. Classes specified here override
   scarab default settings. Data in this file is considered as testdata
   only and can safely be removed.
   
   NOTE: This is work in progress. The final custom css file will probably be
   located elsewhere !(Hussayn, May-2009)
*/

/* attribute specific classes */

.status,
.status_new,
.status_assigned,
.status_reopened,
.status_inreview,
.status_processing,
.status_closed
 {
	background-repeat: no-repeat;
	position:relative;
    background-position: 0px 0px;
    padding-left:20px;
    font-weight:bold;
}

.status_new {
 color:#888;
 padding-left:20px;
}

.status_assigned {
 color:red;
 background-image: url(images/unassigned.png);
 padding-left:20px;
}
 
.status_reopened {
 color:magenta;
 background-image: url(images/reopened.png);
 padding-left:20px;
}

.status_inreview {
 color:blue;
 background-image: url(images/inreview.png);
 padding-left:20px;
}

.status_processing {
 color:orange;
 background-image: url(images/inprogress.png);
 padding-left:20px;
}

.status_closed {
 color:green;
 background-image: url(images/closed.png);
 padding-left:20px;
}
  


div.tree_popup {
	background-color: white;
	display: none;	
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 300px;
}

div.tree_popup ol.treeview {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

div.tree_popup ol.treeview li {
	font-size: x-small;
	margin-bottom: 1px;
	margin-top: 3px;
	padding-left: 40px;
}