/*
   This file contains custom classes. Classes specified here override
   scarab default settings. Data in this file is considered as testdata
   only and can safely be removed.
   
   NOTE: This is work in progress. The final custom css file will probably be
   located elsewhere !(Hussayn, May-2009)
*/

/* attribute specific classes */

.status,
.status_new,
.status_assigned,
.status_reopened,
.status_inreview,
.status_processing,
.status_closed
 {
	background-repeat: no-repeat;
	position:relative;
    background-position: 0px 0px;
    padding-left:20px;
    font-weight:bold;
}

.status_new {
 color:#888;
 padding-left:20px;
}

.status_assigned {
 color:red;
 background-image: url(images/unassigned.png);
 padding-left:20px;
}
 
.status_reopened {
 color:magenta;
 background-image: url(images/reopened.png);
 padding-left:20px;
}

.status_inreview {
 color:blue;
 background-image: url(images/inreview.png);
 padding-left:20px;
}

.status_processing {
 color:orange;
 background-image: url(images/inprogress.png);
 padding-left:20px;
}

.status_closed {
 color:green;
 background-image: url(images/closed.png);
 padding-left:20px;
}
  

.treeview_button {
 background-image: url(images/popup_open.gif);
 width:17px;
 height:17px;
 padding-left:0px;
 position:relative;
 left:-7px;
 text-decoration:none;
 background-repeat: no-repeat;
}

div.tree_popup {
	background-color: #ffffe8;
	display: none;	
    height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 250px;
	border-style:dotted;
	border-width:1px;
	border-color:#92b9d8;
}

div.tree_popup {
	max-height: 200px;
}

div.tree_popup ol.treeview {
	list-style: none;
	padding: 5px;
	margin: 0px;
}

div.tree_popup ol.treeview li a.folder {
	padding-left:0px;
}

div.tree_popup ol.treeview li.leaf {
	font-size: x-small;
	margin-bottom: 1px;
	margin-top: 3px;
	padding-left: 15px;
}

div.tree_popup ol.treeview li a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

div.tree_popup ol.treeview li ol.treeview li.leaf a {
	font-size: x-small;
	margin-bottom: 1px;
	margin-top: 3px;
	padding-left: 20px;
	color:#025dae;
}

.asterisk {
	color:red;
}

// experimental stuff will be removed later.

.wiedervorlagedatum {
	color:red;
}