#*
 * This template assumes it will get in the context:
 * o $issue: The issue on the notification is created
 * o $link: Scarab link tool
 * o $charSet: MIME character set
 * o $creators: Set with the different users whose activity is reported
 * o $firstNotification: The older notificationstatus of this report
 * o $lastNotification: The younger notificationstatus of this report
 * o $ActivityIssue: General issue activities to be reported
 * o $ActivityPersonnelChanges: Personnel changes to be notified
 * o $ActivityAttributeChanges:
 * o $ActivityAssociatedInfo: URL/Attachment changes
 * o $ActivityDependencies: Dependency changes
 * o $ActivityComments: Comments generated during this report's scope
 * o $multipleActivity: "true" or "false", depending on the notification scoping
 *   several activities or just one.
 *#
#set ($rowCount = 1)    ## Row counter for odd/even styles
#set ($lastTitle = '')  ## Last title in the activities list

## Starts a new odd/even rowCount
## If a title is provided, it is used as a heading cell, but only
## if it hasn't been seen before. The heading cell will span
## $rows table rows.
#macro (indexedRowsStart $title $rows)
 #set ($rowCount = $rowCount + 1)
 #if ($rowCount % 2 > 0)
    <tr class="odd">
 #else
    <tr class="even">
 #end
 #if ($title && $title != $lastTitle)
   #set ($lastTitle = $title)
   <th rowspan="$rows" width="25%">$title</th>
 #end
#end

#macro (indexedRowsEnd)
  </tr>
#end

#set ($user = $issue.ModifiedBy)
#set ($defaultText = $issue.DefaultText)
#set ($module = $issue.Module)
#set ($issueURL = "$link.getIssueIdLink($issue)")
#set ($base = "$link.getServerContext()")

<!DOCTYPE html PUBLIC "-//Tigris//DTD XHTML 1.0 Transitional//EN"
    "$base/style/tigris_transitional.dtd">
<html>
 <head>
   <title>$l10n.ActivityReportOn $issue.IssueType.Name $issue.UniqueId - $issue.DefaultText</title>
   <base href="$base" />
   <meta http-equiv="Content-type" content="text/html; charset=$charSet" />
   <style type="text/css">
     ## Add in the styles used in the following HTML
     #parse ("email/notification/IssueActivityHtmlStyles.vm" )
   </style>
   <link rel="stylesheet" type="text/css" href="/skins/print.css" media="print" />
</head>

<body>

<div id="banner">
   <table border="0" cellspacing="0" cellpadding="8" width="100%">
    <tr>
     <td>
       <img src="$base/images/logo.gif" alt="Scarab" width="118" height="23" border="0" />
     </td>
     <td valign="middle">
      <table border="0" cellpadding="0" cellspacing="0">
        <td>$scarabG.SiteName</td>
        <td>
          #if($scarabG.SiteLogo.trim().length() > 0)
            <img hspace="10" src="$base$scarabG.SiteLogo" border="0"/>
          #end
        </td>
      </table>
     </td>
    </tr>
   </table>
</div>


<div id="breadcrumbs" >
  <table border="0" cellspacing="0" cellpadding="8" width="100%">
   <tr>
    <td>
      $l10n.Modules &gt;
      $module.Name &gt;
      $l10n.Issue <strong>$issue.UniqueId</strong> (<strong>$issue.DefaultText</strong>)
    </td>
   </tr>
  </table>
</div>


<div class="app">

  ## Info statement for the activity
  <p class="infomark">
    $l10n.ActivityGeneratedBy
    #foreach ($creat in $creators) $creat.Name ($creat.Email) #end
    #if ($multipleActivity)
      $l10n.ActivityBetween $firstNotification.getActivityCreationDate($l10n) $l10n.ActivityAnd $lastNotification.getActivityCreationDate($l10n).
    #else
      $l10n.ActivityAt $firstNotification.getActivityCreationDate($l10n)
    #end
  </p>


  <div class="scarab-canvas">
    ## Issue title
    <h3 class="functnbar" style="background-color: #668DB2;margin-left:-1px;margin-right:-1px;">
    <strong>$l10n.Issue <strong>$issue.UniqueId </strong>(<strong>$issue.DefaultText</strong>)
    </h3>

    ## Attributes table
    <h3>$l10n.Attributes</h3>
    <div class="axial">
      <table>
        <tr>
          <th>$l10n.IssueId</th>
          <td width="25%"><b>$issue.UniqueId&nbsp;($issue.RModuleIssueType.DisplayName)</b></td>
          <td>
            #if ($issue.isBlocked()) &nbsp;&nbsp;$l10n.BlockedWarning #end
            #if ($issue.isBlockingAnyIssue()) &nbsp;&nbsp;$l10n.BlockingWarning #end
          </td>
        </tr>

        #if ($issue.CreatedDate)
          <tr>
            <th>$l10n.DateCommitted</th>
            <td colspan="2">
              <a href="mailTo:$issue.CreatedBy.Email">$!issue.CreatedBy.Name</a>
              $issue.CreatedDate
            </td>
          </tr>
        #end

        #if ($issue.ModifiedDate)
          <tr>
            <th>$l10n.LastModified</th>
            <td colspan="2">
              <a href="mailTo:$issue.ModifiedBy.Email">$!issue.ModifiedBy.Name</a>
              $issue.ModifiedDate
            </td>
          </tr>
        #end

      </table>
    </div>


    <h3>$l10n.ActivitySummary</h3>
    <div class="axial">
      <table style="table-layout: fixed" width="100%">
        ## Reasons for changes
        #foreach ($reason in $ActivityReasons)
          #indexedRowsStart($l10n.ActivityReasons $ActivityReasons.size())
            <td>$!reason</td>
          #indexedRowsEnd()
        #end

        ## General issue activities to be reported
        #foreach ($not in $ActivityIssue)
          #indexedRowsStart($l10n.Activity $ActivityIssue.size())
            <td>$not.Activity.getDescription($l10n)</td>
          #indexedRowsEnd()
        #end

        ## Personnel changes
        #foreach ($not in $ActivityPersonnelChanges)
          #indexedRowsStart($l10n.ActivityPersonnelChanges $ActivityPersonnelChanges.size())
            <td>$not.Activity.getDescription($l10n)</td>
          #indexedRowsEnd()
        #end

        ## Attribute changes
        #foreach ($not in $ActivityAttributeChanges)
          #indexedRowsStart($l10n.ActivityAttributeChanges $ActivityAttributeChanges.size())
          #if ($not.Activity.Attribute.AttributeType.Name == "long-string")
            <td>$l10n.format("AttributeSetTo", $not.Activity.DisplayName): "$not.Activity.NewValue"</td>
          #else
            <td>$not.Activity.getDescription($l10n)</td>
          #end
          #indexedRowsEnd()
        #end

        ## URL/Attachment changes
        #foreach ($not in $ActivityAssociatedInfo)
          #indexedRowsStart($l10n.ActivityAssociatedInfo $ActivityAssociatedInfo.size())
            <td>$not.Activity.getDescription($l10n)</td>
          #indexedRowsEnd()
        #end

        ## Dependency changes
        #foreach ($not in $ActivityDependencies)
          #indexedRowsStart($l10n.ActivityDependencies $ActivityDependencies.size())
            <td>$not.Activity.getDescription($l10n)</td>
          #indexedRowsEnd()
        #end

        ## Comments generated during this report's scope
        ## These take up two rows, one for the author and one for the comment
        #foreach ($not in $ActivityComments)
          #set ($rows = $ActivityComments.size() * 2)
          #indexedRowsStart($l10n.ActivityComments $rows)
            <td>$l10n.By <a href="mailTo:$not.Creator.Email">$!not.Creator.Name</a>
              $not.getActivityCreationDate($l10n)</td>
          #indexedRowsEnd()
          #indexedRowsStart($l10n.ActivityComments $rows)
            <td><pre>$not.Activity.Attachment.Data</pre></td>
          #indexedRowsEnd()
        #end
      </table>
    </div>


    ## Bottom bar with session-free link to the issue
    <div class="functnbar2"">
      <table>
         <tr>
           <td>
              <div class="url">
                <a title="$l10n.BookmarkToThisIssue" href="$issueURL">
                $l10n.SessionInfoLink $issue.UniqueId</a>
              </div>
           </td>
         </tr>
      </table>
    </div>

  </div>
</div>

</body>
</html>
