#set ($user = $data.User)
$user.setHomePage("matrix")


<div class="app" id="xmodulelist">
  #if ($user.hasAnySearchableRMITs())
    #renderQueryMatrix()
  #else
    <p><em>$l10n.NoMoreIssueTypes</em></p>
  #end
</div>