#set ($module = $scarabR.CurrentModule)
#set ($attribute = $scarabR.Attribute)
#set ($groupId = $data.Parameters.getString("groupid"))
#set ($immutable = $attribute.SystemDefined)

<div class="app" id="div3-0-2-0">

  #if($immutable)
    <p class="infomark"><strong>$l10n.SystemSpecifiedAttribute</strong></p>
  #end

  #if ($deleting)

    <form action="$link.setPage("admin,GlobalAttributeEdit.vm")" method="post">
      <input type="hidden" name="action" value="admin.GlobalAttributeEdit" />
      <input type="hidden" name="groupId" value="$groupId" />
      <input type="hidden" name="issueTypeId" value="$!data.Parameters.getString("issueTypeId")" />

      #set ($cancelTemplate = $data.Parameters.getString("$scarabG.Constant.CANCEL_TEMPLATE", "admin,GlobalAttributeShow.vm"))
      <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="$cancelTemplate" />

      <div class="warningmessage">
        $l10n.ConfirmDeleteAttribute
        #if ($attribute.hasModuleMappings())
          $l10n.AttrMappedToModules
        #elseif ($attribute.hasGlobalIssueTypeMappings())
          $l10n.AttrMappedToIssueTypes
        #end
        <p><input type="submit" value="$l10n.ConfirmDelete"  name="eventSubmit_doDeleteattribute" /></p>
      </div>
    </form>

  #else

    #if ($attribute.AttributeId)
      #set ($attgroup = $intake.Attribute.mapTo($attribute))
      #set ($createNew = false)
    #else
      #set ($attgroup = $intake.Attribute.Default)
      #set ($createNew = true)
    #end

    <form action="$link.setPage("admin,GlobalAttributeEdit.vm")" method="post">
    
      <input type="hidden" name="action" value="admin.GlobalAttributeEdit" />
      #if (!$createNew)
        <input type="hidden" name="attId" value="$attribute.AttributeId" />
      #end
      #set ($cancelTemplate = "admin,GlobalAttributeShow.vm")
      <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="$cancelTemplate" />
      <input type="hidden" name="groupId" value="$!data.Parameters.getString("groupId")" />
      <input type="hidden" name="issueTypeId" value="$!data.Parameters.getString("issueTypeId")" />
      <input type="hidden" name="pageNum" value="$!data.Parameters.getInt("pageNum",1)" />

      <div class="functnbar">
        #if (!$createNew)
          <input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />&#160;
        #end
        <input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
      </div>

      #asterisk()

      <h3>$l10n.GlobalAttributeInfo</h3>

      $renderer.render("screens/admin/globalAttributeEdit", "GlobalAttributeProperties.vm")

      <div class="functnbar3">
        <input type="submit" value="$l10n.Save"  name="eventSubmit_doSaveattributedata" />
        #if (!$createNew)
          <input type="button" value="$l10n.EditConditions"  onClick="location.href='$link.setPage("admin,ConditionEdit.vm").addPathInfo("$scarabG.Constant.CANCEL_TEMPLATE","admin,GlobalAttributeEdit.vm").addPathInfo("obj_type", $scarabG.Constant.GLOBAL_ATTRIBUTE_OBJECT).addPathInfo("attId", $attribute.attributeId)'"  />
        #end
      </div>

      #if ($attribute.AttributeType.AttributeClass.Name.equals("select-one"))
        #datatitle ("$l10n.AttributeOptions")
        <div class="colbar">$l10n.AttributeOptionCannotBeDeleted</div>

          #set ($pcaos = $attribute.ParentChildAttributeOptions)
          #set ($maxNum = $pcaos.size())
 
          $renderer.render("screens/admin/globalAttributeEdit", "GlobalAttributeOptions.vm")

          <div class="functnbar3">
            <input type="submit" value="$l10n.Save"  name="eventSubmit_doSaveoptions" />
          </div>

          $renderer.render("screens/admin/globalAttributeEdit", "GlobalAttributeTransitionManagement.vm")

        </div>
      #end


      <div class="functnbar2">
        #if (!$createNew)
          <input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />&#160;
        #end
        <input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
      </div>

      $intake.declareGroups()

    </form>
  #end

</div>