#set ($createNew = $data.Parameters.getString("New", ""))
#set ($canEdit = "false")

#set ($moduleId = $data.Parameters.getString("moduleid"))
#if (!$moduleId || $moduleId.length() == 0 || $moduleId == "0")
   #set ($createNew = "true")
#end

#if ($createNew.equals("true"))
  #set ($title = "$l10n.NewModule")
#else
  #set ($title = "$l10n.ModifyModule")
  #set ($editModule = $scarabR.getModule($moduleId))
  #set ($canEdit = $scarabR.hasPermission($scarabG.Permission.MODULE__EDIT, $editModule))
#end

#if ($editModule)
  #set ($userModules = $data.User.getEditableModules($editModule))
#else
  #set ($userModules = $data.User.getEditableModules())
#end

#macro (ModifyModuleBar $var)
        <div class="functnbar$var">
            #if ($createNew.equals("true"))
            <input type="submit" name="eventSubmit_doCreate" value="$l10n.Create" /> 
            #else
            <input type="submit" name="eventSubmit_doUpdate" value="$l10n.Save" /> 
            #end
            <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
        </div>
#end

<div id="module" class="app">

  <h3>$title</h3>

    #* =================================================================
    *  Render the user module editor
    *  =================================================================
    *#
    <form action="$link.setPage("admin,ModifyModule.vm")" method="post" name="modifyModuleForm">
      <input type="hidden" name="action" value="ModifyModule" /> 
      <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageModules.vm" /> 
      <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,ManageModules.vm" /> 
      <input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,ManageModules.vm" /> 

      #set ($moduleGroup = $intake.Module.Default)

      #if ($createNew.equals("true"))
        <input type="hidden" name="new" value="true" /> 
      #else
        <input type="hidden" name="new" value="false" /> 
        <input type="hidden" name="$moduleGroup.Id.Key" value="$moduleId" /> 
        <input type="hidden" name="moduleid" value="$moduleId" /> 
      #end

      #set ($moduleGroup = $intake.Module.mapTo($editModule))
      #if (!$moduleGroup.get("Id").isValid())
        <p><em>$moduleGroup.get("Id").Message</em></p>
      #end

      <div class="axial">
        <table cellpadding="3" cellspacing="2" border="1" width="100%">
          <tr><th colspan="2" style="text-align:left;padding:20px;"><h4>$l10n.ModuleConfiguration</h4></th></tr>
          #* MODULE NAME *#
          <tr>
            <th>* $l10n.ModuleName</th>
            <td>
              <input name="$moduleGroup.RealName.Key" value="$moduleGroup.RealName" type="text" size="25" />
              #fieldErrorMsg($moduleGroup.RealName "")
            </td>
          </tr>

          #* DESCRIPTION *#
          <tr>
            <th>* $l10n.Description</th>
            <td>
              #textAreaMedium ("$moduleGroup.Description.Key" $moduleGroup.Description)
              #fieldErrorMsg($moduleGroup.Description "")
            </td>
          </tr>

          #* MODULE PREFIX *#
          <tr>
            <th>* $l10n.Code</th>
            <td>
              <!-- $moduleGroup.class.name -->
              <input name="$moduleGroup.Code.Key" value="$moduleGroup.Code" type="text" size="$scarabG.getModuleCodeLengthPadded()" maxlength="$scarabG.getModuleCodeLength()" />
              #fieldErrorMsg($moduleGroup.Code "")
            </td>
          </tr>
          

          #* PARENT MODULE *#
          #if ($createNew.equals("true") || $moduleId != "0")

            #* PARENT MODULE *#
            <tr>
              <th>$l10n.ParentModule</th>
              <td> 
                <select name="$moduleGroup.ParentId.Key">
                  <option value="0">$l10n.Choose</option>
                  #if ($editModule) 
                    #foreach ($userModule in $userModules)
                      #if ($editModule.Parent.ModuleId.toString().equals($userModule.ModuleId.toString()))
                        <option selected="selected" value="$userModule.ModuleId">[$userModule.Name] $userModule.RealName</option>
                      #else
                        <option value="$userModule.ModuleId">[$userModule.Name] $userModule.RealName</option>
                      #end
                    #end
                  #else
                    #foreach ($userModule in $userModules)
                      <option value="$userModule.ModuleId">[$userModule.Name] $userModule.RealName</option>
                    #end
                  #end
                </select>
                #fieldErrorMsg($moduleGroup.ParentId "")
              </td>
            </tr>

            #* ROLE NEEDED FOR VIEWING *#
            <tr>
              <th>$l10n.RoleNeededForViewing</th>
              <td>
	                <select name="$scarabG.ParameterName.REQUIRED_ROLE_FOR_REQUESTING_ACCESS">
                  #set ($requiredRole = $editModule.RequiredRole.Name)
	                  <option selected="selected" value="" >$l10n.TransitionsAnyRole</option>
	                  #foreach ($role in $securityAdmin.Roles)
	                    <option value="$role.Name" #if ($role.Name == $requiredRole) selected #end>$role.Name</option>
	                  #end
	                </select>
              </td>
            </tr>

            #* DEFAULT REPORT *#
            <tr>
              ##Configuration of default report
              <th>$l10n.DefaultReport</th>
              <td>
                <select name="$scarabG.ParameterName.DEFAULT_REPORT">

                  #set ($reports = $editModule.getNotDeletedModuleReports())
                  #set ($defaultReport = $editModule.getDefaultReport())

                  <option selected="selected" value="" >$l10n.None</option>
                  #foreach ($report in $reports) 
                    <option value="$report.ReportId" #if ($report.ReportId == $defaultReport.ReportId) selected #end>$report.Name</option>	    
                  #end
                </select>
              </td>
            </tr>
          #end

          #*
            <tr>
             <th>$l10n.URL</th>
             <td>
              <input name="$moduleGroup.Url.Key" value="$moduleGroup.Url" type="text" size="25" />
              #fieldErrorMsg($moduleGroup.Url "")
             </td>
            </tr>
          *#

          <tr><th colspan="2" style="text-align:left;padding:20px;"><h4>$l10n.EmailConfiguration</h4></th></tr>
          #* ARCHIVE EMAIL ADDRESS *#
          <tr>
            <th>$l10n.ArchiveEmail</th>
            <td>
              <input name="$moduleGroup.ArchiveEmail.Key" value="$moduleGroup.ArchiveEmail" type="text" size="50" />
              #fieldErrorMsg($moduleGroup.ArchiveEmail "")
            </td>
          </tr>


          #if ($scarabG.Parameter.getBoolean($scarabG.ParameterName.EMAIL_ALLOW_MODULE_OVERRIDE)) 

            #set ($autocloseModules = $scarabG.getTurbinePropertyValues($scarabG.Constant.AUTOCLOSE_MODULES))
            #set ($autocloseStates = $scarabG.getTurbineProperty($scarabG.Constant.AUTOCLOSE_STATES))
            #set ($autoclosePeriods = $scarabG.getTurbineProperty($scarabG.Constant.AUTOCLOSE_PERIODS))
            #set ($autocloseEmail = $scarabG.getTurbineProperty($scarabG.Constant.AUTOCLOSE_EMAIL_ADDRESS))
            #set ($autocloseModule = "Disabled")
            
            #foreach ($mod in $scarabG.getTurbinePropertyValues("scarab.common.autoclose.modules"))
                #if ($moduleGroup.Code == $mod)
                    #set ($autocloseModule = "Enabled")
                #end
            #end
            #* AUTOCLOSE (text field) *#
            <tr>
              <th>Autoclose</th>
              <td>
                $scarabG.getTurbineProperty($scarabG.Constant.AUTOCLOSE_EMAIL_ADDRESS)
              </td>
            </tr>
            <tr>
              <th>Autoclose Modules</th>
              <td>
                $scarabG.getTurbinePropertyValues("scarab.common.autoclose.modules")
              </td>
            </tr>
            <tr>
              <th>Autoclose States</th>
              <td>
                $scarabG.getTurbineProperty("scarab.common.autoclose.states")
              </td>
            </tr>
            <tr>
              <th>Autoclose Periods</th>
              <td>
                $scarabG.getTurbineProperty("scarab.common.autoclose.periods")
              </td>
            </tr>

            #* ENABLE EMAIL (checkmark) *#
            <tr>
              <th nowrap="nowrap">$l10n.EmailEnable</th>
              <td> 
                 #set ($name = $scarabG.ParameterName.EMAIL_ENABLED)
                 #if($createNew=="true")
                   #set ($selected = $scarabG.Parameter.getBoolean($name))
                 #else
                   #set ($selected = $scarabG.Parameter.getBoolean($name,$editModule))
                 #end
                 <input type="checkbox" name="$name" #checked($selected)/> 
                 $l10n.EmailEnableDescription  
              </td> 
            </tr>

            #* EMAIL INCLUDES ISSUE DETAILS *#
            <tr>
              <th nowrap="nowrap">$l10n.EmailIncludeIssueDetails</th>
              <td> 
                 #set ($name = $scarabG.ParameterName.EMAIL_INCLUDE_ISSUE_DETAILS)
                 #if($createNew=="true")
                   #set ($selected = $scarabG.Parameter.getBoolean($name))
                 #else
                   #set ($selected = $scarabG.Parameter.getBoolean($name,$editModule))
                 #end
                 <input type="checkbox" name="$name" #checked($selected)/>
                 $l10n.EmailIncludeIssueDetailsDescription  
              </td> 
            </tr>


          #end

          #* RENDER ENGINE *#
          <tr><th colspan="2" style="text-align:left;padding:20px;"><h4>$l10n.MiscConfiguration</h4></th></tr>
          <tr>
            <th nowrap="nowrap">$l10n.RenderEngine</th>
            <td> 
              #set ($name = $scarabG.ParameterName.COMMENT_RENDER_ENGINE)
              #set ($selected = $editModule.commentRenderingEngine)
              <select name="$name">
                <option value=""           #if ($selected.equals(""))           selected #end >choose...</option>
                <option value="plaintext"  #if ($selected.equals("plaintext"))  selected #end >plaintext</option>
                <option value="html"       #if ($selected.equals("html"))       selected #end >html</option>
                <option value="radeox"     #if ($selected.equals("radeox"))     selected #end >radeox</option>
                <option value="bliki"      #if ($selected.equals("bliki"))      selected #end >wikipedia</option>
              </select>
              $l10n.RenderEngineExplained
            </td>
          </tr>
 
          #* REASON FIELD REQUIRED *#
          <tr>

            <script type="text/javascript">
              <!--
                function setReasonFieldHidden(selector, checkmarker)
                {
                    selectedObject = document.getElementById(selector);
                    val = selectedObject.options[selectedObject.selectedIndex].value;
                    cb = document.getElementById(checkmarker);
                    if(val == "FALSE")
                    {
                      cb.disabled=false;
                      return;
                    }
                    if(cb.checked)
                    {
                      cb.checked=false;
                      cb.disabled=true;
                    }
                }
              // -->
            </script>
          
            <th nowrap="nowrap">$l10n.ReasonFieldRequired</th>
            <td> 
              #set ($name = $scarabG.ParameterName.ISSUE_REASON_REQUIRED)
              #set ($selected = $editModule.isIssueReasonRequired())
              #set ($inherited= $editModule.isIssueReasonRequiredInherited())
              #set ($isGlobal = $editModule.isGlobalModule())
              <select name="$name" id="issue_reason_required" onchange="setReasonFieldHidden('issue_reason_required', 'issue_reason_hidden')">
	                #if (!$isGlobal)
                 <option value="" #if ($inherited) selected #end>$l10n.Default</option>
                #end
                <option value="TRUE" #if (!$inherited && $selected) selected #end>$l10n.Yes</option>
                <option value="FALSE" #if (!$inherited && !$selected) selected #end>$l10n.No</option>
              </select>
              #if (!$isGlobal) $l10n.ReasonFieldRequiredExplained #end
            </td>
          </tr>
          
          #* REASON FIELD DISABLED *#
          <tr>
            <th nowrap="nowrap">$l10n.ReasonFieldDisabled</th>
            <td>
                 #set ($name = $scarabG.ParameterName.ISSUE_REASON_HIDDEN)
                 #if($createNew=="true")
                   #set ($selected = $scarabG.Parameter.getBoolean($name))
                 #else
                   #set ($selected = $scarabG.Parameter.getBoolean($name,$editModule))
                 #end
                 <input type="checkbox" name="$name" id="issue_reason_hidden" #checked($selected) onchange="setReasonFieldHidden('issue_reason_required', 'issue_reason_hidden')"/>
                 $l10n.ReasonFieldDisabledExplained 
            </td>
          </tr>

          #* MODULE DELETED (checkmark) *#
          #if ($editModule || $createNew != "true")
            <tr>
              <th nowrap="nowrap">$l10n.Deleted</th>
              <td>
                #booleanCheckbox($moduleGroup.Deleted)
              </td>
            </tr>
          #end

         </table>
      </div>

      #ModifyModuleBar("2")

      $intake.declareGroups()
    </form>

</div>
