          <table width="100%" border="1" cellspacing="2" cellpadding="3">
            <tr>
              #if ($maxNum > 0)
                <th>$l10n.Deleted</th>
              #else
                <th>&#160;</th>
              #end
              <th>$l10n.ParentAttributeOption</th>
              <th>$l10n.AttributeOption</th>
              <th>$l10n.Order</th>
              <th>class</th>
              ## hiding until implemented<th>$l10n.Weight</th>
            </tr>
        
            <tr>
              #foreach ($pcao in $pcaos)
                #set ($immutableOption = $pcao.getChildOption().SystemDefined)
                #set ($pcaoGroup = $intake.ParentChildAttributeOption.mapTo($pcao))
                #indexedRows($velocityCount)
                
                ## =================================================
                ## The initial checkbox for marking "deleted" option
                ## =================================================
                #if(!$immutableOption)
                  <td>#booleanCheckbox ($pcaoGroup.Deleted)</td>
                #else
                  <td>#booleanCheckboxLock ($pcaoGroup.Deleted $immutable)</td>
                #end

		                ## =================================================
				                ## Parent-child association (popup-box)
                ## =================================================
                <td>
                  #if($immutableOption)
                    $pcao.ParentOption.Name
                  #else
                    <select name="$pcaoGroup.ParentId.Key">
                      #if ($pcao.ParentId.toString().equals("0"))
                        <option selected="selected" value="0">$l10n.Root</option>
                      #else
                        <option value="0">$l10n.Root</option>
                      #end
                      #foreach ($parentAttrOption in $attribute.ParentChildAttributeOptions)
                        #if (! $parentAttrOption.Name.equals($pcao.Name) )
                          #if($pcao.ParentId.toString().equals($parentAttrOption.OptionId.toString()))
                            <option selected="selected" value="$parentAttrOption.OptionId">$parentAttrOption.Name</option>
                          #else
                            <option value="$parentAttrOption.OptionId">$parentAttrOption.Name</option>
                          #end
                        #end
                      #end
                    </select>
                  #end
                </td>

                ## =================================================
                ## Attribute-option value (plain text)
                ## =================================================
                <td>
                  #if(!$immutableOption)
                    <input type="text" size="25" name="$pcaoGroup.Name.Key" value="$pcaoGroup.Name" />
                  #else
                    $pcaoGroup.Name
                    <input type="hidden" size="25" name="$pcaoGroup.Name.Key" value="$pcaoGroup.Name" />
                  #end
                </td>
 
 
                ## =====================================================
                ## preferred order (may differ from order of definition)
                ## =====================================================
                <td>
                  #if($immutableOption)
                    $pcaoGroup.PreferredOrder.Value
                    <input type="hidden" size="25" name="$pcaoGroup.PreferredOrder.Key" value="$pcaoGroup.PreferredOrder.Value" />
                  #else
                    #numericOrderSelect($attribute.Name $pcaoGroup.PreferredOrder.Key 1 $maxNum $pcaoGroup.PreferredOrder.Value 1)
                  #end
                </td>
                
                ## =====================================================
                ## display style (plain text may contain class or 
                ## style definitions: e.g.: "class='myclass'"
                ## =====================================================
                <td>
                  #if(!$immutableOption)
                    <input type="text" size="25" name="$pcaoGroup.Style.Key" value="$pcaoGroup.Style" />
                  #else
                    $pcaoGroup.Name
                    <input type="hidden" size="25" name="$pcaoGroup.Style.Key" value="$pcaoGroup.Style" />
                  #end
                </td>
                
                #* Hiding until implemented
                <td>
                   #numericSelect($pcaoGroup.Weight.Key 1 $maxNum $pcaoGroup.Weight.Value 1)
                </td>
                *#
              #end
                        
              #set ($newPCAO = $scarabR.ParentChildAttributeOption)
              #set ($newPCAOGroup = $intake.ParentChildAttributeOption.mapTo($newPCAO))
              #set ($number = $maxNum + 1)
              #indexedRows($number)
              <td>$l10n.New</td>

              <td>
                <select name="$newPCAOGroup.ParentId.Key">
                  <option value="0">$l10n.Root</option>
                  #foreach ($parentAttrOption in $attribute.ParentChildAttributeOptions)
                    #set ($pcaoGroupTemp = $intake.ParentChildAttributeOption.mapTo($parentAttrOption))
                    <option value="$pcaoGroupTemp.OptionId">$pcaoGroupTemp.Name</option>
                  #end
                </select>
              </td>

              <td><input type="text" size="25" name="$newPCAOGroup.NewName.Key" value="$newPCAOGroup.NewName" /></td>

              <td>
                #set ($maxNum = $maxNum + 1)
                #if ($newPCAOGroup.PreferredOrder.Value != 0)
                  #set ($selected = $newPCAOGroup.PreferredOrder.Value)
                #else
                  #set ($selected = $maxNum)
                #end
                #numericOrderSelect($attribute.Name $newPCAOGroup.PreferredOrder.Key 1 $maxNum $selected 1)
              </td>

              <td></td>

              #* Hide until implemented
              <td>
                #if ($newPCAOGroup.Weight.Value != 0)
                  #set ($selected = $newPCAOGroup.Weight.Value)
                #else
                  #set ($selected = $maxNum)
                #end
                #numericSelect($newPCAOGroup.Weight.Key 1 $maxNum $selected 1)
              </td>
              *#
            </tr>
          </table>
