<div id="savereport" class="app">

<form method="post" action="$link.setPage("notifications,NotificationList.vm")" >
<input type="hidden" name="action" value="ChangeNotificationStatus" />
<style>
ul.issueBox {
  list-style: none;
  padding: 0em;
  padding-right: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}
ul.setBox {
  list-style: none;
  padding: 0em;
  padding-top: 0.1em;
  margin-left: 2em;
  margin-top: 0em;
  margin-bottom: 0.2em;
  border: 1px solid white;
}

</style>
##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

<h3>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td nowrap="nowrap" width="100%">$l10n.NotificationList</td>
      ##<td nowrap="nowrap" style="font-size:9px;">$link.setPage("notifications,NotificationEdit.vm").setLabel("$l10n.EditNotificationRules")</td>
    </tr>
  </table>
</h3>

#set ($user = $data.User)
#if ($notificationStructure.size() > 0 )
<ul class="issueBox">
#foreach ($issue in $notificationStructure.keySet())
<li>
  <table width="100%">
    <tbody>
    <tr>
      <th>$issue.IssueType.Name</th>
      <th>$l10n.Summary</th>
      <th>$l10n.CapModule</th>
    </tr>
    #indexedRows($velocityCount)
      <td width="2%">
      $link.setPage("ViewIssue.vm").addPathInfo("id", $issue.UniqueId).setLabel("$issue.UniqueId")
      </td>
      <td>
      $issue.DefaultText
      </td>
      <td>
      $issue.Module.Name
      </td>
    </tr>
    <tr>
    <td colspan="3">
  #set ($issueSets = $notificationStructure.get($issue).keySet())
  #foreach ($set in $issueSets)
  <ul class="setBox">
  	<li>
  	<table width="100%">
  	  <tr>
  	    <th>Autor</th>
  	    <th>Modified at</th>
  	    <th>$l10n.ReasonForChange</th>
  	  </tr>
  	  #indexedRows($velocityCount)
  	    <td nowrap="nowrap"><a href="mailto:$set.creator.Email">$!set.creator.name</a></td>
  	    <td nowrap="nowrap">$set.CreatedDate</td>
  	    <td>$set.getActivityReason($l10n)</td>
  	  </tr>
  	</table>
  	</li>
    #set ($notifications = $notificationStructure.get($issue).get($set))
    <ul class="setBox">
      <li>
        <table width="100%">
          <tr>
            <th>Delete</th>
            <th>$l10n.Status</th>
            <th>Description</th>
          <tr>
    #foreach ($not in $notifications)
    	#indexedRows($velocityCount)
            <td><input type="checkbox" name="notificationId_${not.ActivityId}_${not.CreatorId}_${not.ReceiverId}"></td>
            <td>$not.statusLabel</td>
            <td>$not.activity.getDescription($l10n)</td>
        </tr>
    #end
        </table>
      </li>
    </ul>
  </ul>
  #end
  </td>
  </tr>
  </tbody>
  </table>
</li>
#end
</ul>
<div class="functnbar3">
  <input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeletenotifications" />
</div> 


#else
 <p><em>$l10n.NoNotifications</em></p>
 <div class="functnbar3">
 </div> 
#end


##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

$intake.declareGroups()
</form>
</div>
