<div id="savereport" class="app">

#set ($imgpath = $staticLink.setPath('/images') )

<form method="post" action="$link.setPage("notifications,NotificationCustomize.vm")" >
<input type="hidden" name="action" value="ChangeNotificationStatus" />

##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

<h3>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td nowrap="nowrap" width="100%">$l10n.get("notifications/NotificationCustomize.vm.Title")</td>
      <td><img id="help"
               src="$imgpath/icon_help_sml.gif"
               onClick="showDelayedTooltip('description',0)"
               >
      </td>
    </tr>
  </table>
</h3>

#set ($user     = $data.User)
#set ($userId   = $user.userId)
#set ($module   = $scarabR.CurrentModule)
#set ($moduleId = $module.moduleId)
#set ($activityCodes = $scarabG.getAllNotificationTypeCodes())
<table>
  <tr>
    <th nowrap="nowrap">$l10n.ActivityType</th>
    <th nowrap="nowrap">$l10n.ActivityTypeEnable</th>
    <th nowrap="nowrap">$l10n.ActivityTypeSendSelf</th>
    <th nowrap="nowrap">$l10n.ActivityTypeFailure</th>
    <td width="100%">
      <div class="scarab-toolgroup">
          <div class="scarab-tooltip" id="description" onclick="hideTooltip()" >
            <table> 
              <tr>
                <td colspan="2">$l10n.ActivityTypeHelpText</td>
              </tr>
              <tr>
                <th>$l10n.ActivityTypeEnable</th><td>$l10n.ActivityTypeEnableText</td>
              </tr>
              <tr>
                <th>$l10n.ActivityTypeSendSelf</th><td>$l10n.ActivityTypeSendSelfText</td>
              </tr>
              <tr>
                <th>$l10n.ActivityTypeFailure</th><td>$l10n.ActivityTypeFailureText</td>
              </tr>
            </table>
          </div>
      </div>
    </td>
  </tr>
  #set ($descWritten=false)
  #foreach ($activityCode in $activityCodes)
    #set ($filter = $scarabG.getNotificationFilter($moduleId, $userId, $activityCode))
    #indexedRows($velocityCount)
      <th nowrap="nowrap">
          #set ($label = $l10n.get($scarabG.getActivityTypeLabelResource($activityCode)))
          #if ($activityCode.equals("attribute_changed"))
            <a href="CustomizeAttributeNotifications.vm">$label ...</a>
          #else
            $label
          #end
      </th>
      <td><input type="checkbox" name="${activityCode}:status" #if ($filter.getFilterState()) checked="checked"#end></td>
      <td><input type="checkbox" name="${activityCode}:self"   #if ($filter.getSendSelf())    checked="checked"#end></td>
      <td><input type="checkbox" name="${activityCode}:fail"   #if ($filter.getSendFailures())checked="checked"#end></td>
    </tr>
  #end
</table>

<div class="functnbar3">
  <input type="submit" value="$l10n.Submit" name="eventSubmit_doCustomize" />
</div> 

##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

$intake.declareGroups()
</form>
</div>